<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.mysterio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mysterio</name>
    <description>
        Mysterio is an anonymous chat web app. Talk to strangers online.
        No login. No sign up. Anonymous chat rooms to talk to people of your interest.
        Fast and secure with encrypted chat. Best site to chat anonymously.
    </description>
    <author email="ravi.sumit33@gmail.com" href="http://mysterio-chat.herokuapp.com">
        Sumit Kumar
    </author>
    <icon src="public/static/quick_chat_512.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <hook type="before_prepare" src="scripts/prebuild.js" />
</widget>
